<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Switch Port Editor</h2>
        <p class="subtitle">Update your switch ports via
            <a href="#">Drag and Drop</a>.    
        </p>
    </div>
</div>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">
                    <i class="fas fa-hat-wizard"></i>
                </span>
                <span class="display-1 d-block">{{serial}}</span>
                <div class="mb-4 lead">Oops, the switch you are looking for was not found.</div>
            </div>
        </div>
    </div>
</div>